.App {
  text-align: center;
}

h1 {
  text-align: center;
}

.taskList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.task {
  padding: 15px;
  border: 2px solid rgb(71, 107, 158);
  margin-top: 15px;
  border-radius: 5px;
  width: 500px;
}

.myBtn {
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
  border-radius: 5px;
}

.taskForm {
  display: flex;
  flex-direction: column;
}

.inputForm {
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid #555555;
  border-radius: 4px;
}

.text-through {
  text-decoration: line-through;
}


